<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/home-screen') %>
<%- include('partials/overlays') %>
<%- include('partials/toolbar') %>
<%- include('partials/app') %>
<%- include('partials/menus') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
<script src="/js/multiuser.js"></script>
</body>
</html>
